@media screen and (max-width: 1019px) {
  .row {
    width: 90vw;
  }
}

@media screen and (max-width: 697px) {
  #steps .row>.left, #steps .row>.right, #steps .row>.central, #lezioni .row>.left, #lezioni .row>.right {
    float: none;
    width: 100%;
    margin-top: 80px;
  }
  #steps .row>.left, #steps .row>.right, #steps .row>.central {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 419px) {
  #steps .row>.left, #steps .row>.right, #steps .row>.central, #lezioni .row>.left, #lezioni .row>.right {
    float: none;
    width: 100%;
    margin-top: 80px;
  }
  .container.grey {
    background-color: white;
  }
  #steps .row>.left, #steps .row>.right, #steps .row>.central {
    background-color: #f9f9f9;
  }
  #why .row>.first, #why .row>.second, #why .row>.third {
    background-color: #f9f9f9;
  }
  .row {
    width: 90vw;
  }
}

@media screen and (max-width: 367px) {
  img {
    height: auto;
    width: 50vw;
  }
  #why .row img{
    padding: 10%;
  }
}

@media screen and (max-width: 122px) {
  h1 {
    font-size: 130%;
  }
}

@media screen and (max-width: 80px) {
  h3{
    font-size: 100%;
  }
  p{
    font-size: 100%;
  }
  *{
    margin: 0;
  }
}

@media screen and (max-width: 91px) {
  h1{
    font-size: 100%;
  }

@media screen and (max-width: 50px) {
  *{
    font-size: 90%;
  }
}
